API_KEYS="somecommaseparatedalphanumericapikeys"
APNS_KEY_FILE_BASE64=
APNS_KEY_ID=
APNS_TEAM_ID=
APNS_BUNDLE_ID=
APNS_USE_PRODUCTION_ENDPOINT=false
FIREBASE_SERVICE_ACCOUNT_JSON_BASE64=
DEMO_DEVICE_ID_ANDROID=
# SENTRY_ENV=local
# SENTRY_DSN=
